*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	background: url(home-banner.jpg) no-repeat;
	background-size: cover;
	position: relative;
	top: 0;
	left: 0;
    background-position: center;
}
.text-white
{
color:white !important ;

}


body::before
{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.30);
	z-index: -1;
}

.fullBody
{
	height: 100vh;
}
.fullBody
{
	padding: 15% !important;
}
.mainInput
{
	padding: 1% 3%;
    border: 2px solid red;
    margin: 1%;
    border-radius: 10px;
}
/* .mainbd
{
	background: url("macbook-pro-macbook-air-laptop-laptop-1168de9544d367f466e2c78ad0188abd.png") no-repeat;
    background-size: cover;
    margin: auto;
    width: 83%;
    padding: 5% 0;
} */
.modebtn
{
	display: inline-block;
    background: orangered;
    color: white;
    outline: none;
    border: none;
    padding: 10px 20px;
}
.mainrow
{
	display: flex;
}
